# compiled output
/dist
/node_modules

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

# env files
.env
.env.*
!.env.example

# IDE
.idea

# OS
.DS_Store

# tests
/coverage
/.nyc_output

# temp
tmp
